 .page-wrapper {
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 0;
     height: 100%;
     width: 100%;
     background: url(https://213255.fs1.hubspotusercontent-na1.net/hubfs/213255/1.%20Huble%20Digital/WEBSITE%20ELEMENTS/Background@2x.png) no-repeat fixed 50%;
     background-size: cover;
     -webkit-background-size: cover;

     >div {
         display: contents;
     }

     .form-wrapper {
         background-color: rgba(51, 71, 91, 0.9);
         padding: 56px 32px 60px;
         border-radius: 15px;
         color: #fff;
         max-width: 400px;
         width: 100%;
     }

     input {
         border: 1px solid #46586a;
         border-radius: 4px;
         padding: 13px 12px;
         font-size: 12px;
         font-weight: 400;
         width: 100%;
         margin-bottom: 25px;
     }

     p {
         font-size: 12px;
         line-height: normal;
         margin-top: -22px;
         color: #ff4d56;
     }

     .checkbox {
         font-size: 13px;

         >label {
             >a {
                 color: #9defff;
             }
         }

         input {
             height: 18px;
             width: 18px;
             vertical-align: sub;
         }
     }


     .submit-button {
         height: 37px;
         width: 100%;
         padding: 0px;
         background-color: #ff4d56;
         color: #fff;
         font-size: 14px;
         cursor: pointer;
         border: none;
     }

     .change {
         margin-top: 25px;
         font-size: 13px;

         >a {
             color: #9defff;
         }
     }

     .buttons {
         padding-top: 10px;
     }
 }